* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin: auto;
}
body{
  font-family: Helvetica;
  font-size: 16px;
  line-height: 24px;
  color: #333;
  text-align: center;
  background-color: #cccccc;
}
.head {
  height: 40px;
  background-color: #000085;
  color: white;
  padding-top: 8px;
}